# Hypothesis Testing
For our hypothesis test, we will be using <BLANK>

# Research Questions
1. Is there a significant difference in average household income between urban and rural areas in the Philippines?

2. Does the cost of living affect the income disparity between urban and rural areas?

In [8]:
import re
import pandas as pd
import scipy
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

def convert_google_sheet_url(url):
    # Regular expression to match and capture the necessary part of the URL
    pattern = r'https://docs\.google\.com/spreadsheets/d/([a-zA-Z0-9-_]+)(/edit#gid=(\d+)|/edit.*)?'

    # Replace function to construct the new URL for CSV export
    # If gid is present in the URL, it includes it in the export URL, otherwise, it's omitted
    replacement = lambda m: f'https://docs.google.com/spreadsheets/d/{m.group(1)}/export?' + (f'gid={m.group(3)}&' if m.group(3) else '') + 'format=csv'

    # Replace using regex
    new_url = re.sub(pattern, replacement, url)

    return new_url

# Preprocessing
We will stich together the multiple sheets into one mastersheet so that we can properly do some magic. Below are some functions used to effectively preprocess the data.

To easily separate them, we add a new column called 'YEAR' which contains which year in which the FIES was collected

In [3]:
dataset_url = 'https://docs.google.com/spreadsheets/d/1WvPYjCbY-jXhDB_-R0UMtUXj_fmhGbsM/edit'
dataset_sheets = [
    (1991, 'https://docs.google.com/spreadsheets/d/1WvPYjCbY-jXhDB_-R0UMtUXj_fmhGbsM/edit#gid=103037532'),
    (1994, 'https://docs.google.com/spreadsheets/d/1WvPYjCbY-jXhDB_-R0UMtUXj_fmhGbsM/edit#gid=2100587492'),
    (1997, 'https://docs.google.com/spreadsheets/d/1WvPYjCbY-jXhDB_-R0UMtUXj_fmhGbsM/edit#gid=172281918'),
    (2000, 'https://docs.google.com/spreadsheets/d/1WvPYjCbY-jXhDB_-R0UMtUXj_fmhGbsM/edit#gid=1648603626'),
    (2003, 'https://docs.google.com/spreadsheets/d/1WvPYjCbY-jXhDB_-R0UMtUXj_fmhGbsM/edit#gid=308318816'),
    (2006, 'https://docs.google.com/spreadsheets/d/1WvPYjCbY-jXhDB_-R0UMtUXj_fmhGbsM/edit#gid=284607147'),
    (2009, 'https://docs.google.com/spreadsheets/d/1WvPYjCbY-jXhDB_-R0UMtUXj_fmhGbsM/edit#gid=457620696'),
    (2012, 'https://docs.google.com/spreadsheets/d/1WvPYjCbY-jXhDB_-R0UMtUXj_fmhGbsM/edit#gid=2124514616'),
    (2015, 'https://docs.google.com/spreadsheets/d/1WvPYjCbY-jXhDB_-R0UMtUXj_fmhGbsM/edit#gid=174256795'),
    (2018, 'https://docs.google.com/spreadsheets/d/1WvPYjCbY-jXhDB_-R0UMtUXj_fmhGbsM/edit#gid=1844728002'),
]

sheets = []

# TODO - Standardize this 
for year, sheet in dataset_sheets:
    print(year, end='\r')
    proper_url = convert_google_sheet_url(sheet)
    gsheet = pd.read_csv(proper_url, low_memory=False)
    gsheet.insert(0, 'YEAR', year)
    print('complete')
    sheets.append(gsheet)

dataset = pd.concat(sheets)

complete
complete
complete
complete
complete
complete
complete
complete
complete
complete

In [9]:
dataset['TOINC'] = pd.to_numeric(dataset['TOINC'], errors='coerce')
dataset['YEAR'] = pd.to_numeric(dataset['YEAR'], errors='coerce')
dataset['URB'] = pd.to_numeric(dataset['URB'], errors='coerce')

fixed_dataset = dataset.dropna(axis='rows')
fixed_dataset

        YEAR REGN  URB     TOINC
0       1991    0  1.0   42153.0
1       1991    0  1.0   26938.0
2       1991    0  1.0   84773.0
3       1991    0  1.0   56075.0
4       1991    0  1.0   45658.0
...      ...  ...  ...       ...
147712  2018   17  2.0  382676.0
147713  2018   17  2.0  184325.0
147714  2018   17  2.0  900861.0
147715  2018   17  2.0   65255.0
147716  2018   17  2.0  167272.0

[435036 rows x 4 columns]

# Research Question 1
> Is there a significant difference in average household income between urban and rural areas in the Philippines?

To test our hypothesis, we decided to use a 1-sample t-test for our hypothesis test. We used two variables, Urbanity and Total Income for this

In [20]:
import scipy.stats


a = fixed_dataset.loc[:, 'TOINC']
b = fixed_dataset.loc[:, 'URB']

scipy.stats.ttest_ind(a,b)

TtestResult(statistic=421.8469444719112, pvalue=0.0, df=870070.0)

Based from the above test, there seems to be a relationship between urbanity and the total income between the regions

# Research Question 2
> Does the cost of living affect the income disparity between urban and rural areas?

Please help... :((

What hypothesis test am I supposed to use with this?